@import "bootstrap";

.jumbotron {
  background: image-url('paper_pen.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  text-align: center;
}

h1 {
  color: #cae4ef;
}
